@import "../../variables.scss";

@mixin header {
  color: $color-primary;
  font-family: $font-primary;
  text-align: center;
}

h1 {
  @include header;
  font-size: 90px;
  margin-bottom: 30px
}
h2 {
  @include header;
  font-size: 36px;
}

.clubsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;

  margin: 3vw 1vw;
}
