@mixin thirdPart {
    width: 33.33%;
    border-top: 4px solid;
}

:host {
    display: flex;

    .green {
        @include thirdPart;
        border-color: green;
    }
    .white {
        @include thirdPart;
        border-color: white;
    }
    .red {
        @include thirdPart;
        border-color: red;
    }
}

