@import "../../../variables.scss";

:host {
  width: 30vw;
}

p,
.colors {
  font-family: $font-primary;
  font-size: 32px;
  font-weight: 700;
}

.label {
  display: block;
  width: 200px;
  font-weight: 500;
  font-size: 24px;
}


  .clubColor {
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: skew(-30deg);
}
